*, *::before, *::after{
    box-sizing: border-box;
    font-family: "DINCondensed", Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: DINCondensed;
    src: url(DINCondensed-Bold.ttf);
  }

body{
    background-color: #ffd2ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 5vmin;
    text-size-adjust: none;
}

#GameParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 11vmin;
    transform: scale(1,1);
}

#title{
    padding: 2vmin;
}

#game-board-normal {
    --grid-size-x: 1;
    --grid-size-y: 10;
    --cell-size-x: 20vmin;
    --cell-size-y: 5vmin;
    --cell-gap: 1vmin;
    display: grid;
    grid-template-rows: repeat(var(--grid-size-y), var(--cell-size-y));
    grid-template-columns: repeat(var(--grid-size-x), var(--cell-size-x));
    background-color: #825E82;
    padding: 1vmin;
    border-radius: 1vmin;
    gap: var(--cell-gap);
    position: relative;
    width: calc((var(--cell-gap) * 2) + var(--cell-size-x));
}

#draggables{
    margin: 4vmin;
    width: 20vmin;
}

.cell{
    background-color: #ae8fae;
    border-radius: 1vmin;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*line-height: 1;*/
    color: #825E82;
    border: 0px solid;
    /*transition: all ease-in-out 0.1s;*/
}

.tile{
    --y: 11;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 5vmin;
    background-color: aliceblue;
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size-y) + var(--cell-gap)) + var(--cell-gap));
    left: var(--cell-gap);
}

.draggable{
    cursor: move;
}

.draggable.dragging{
    opacity: 0.5;
}

.container{
    /*transition: all ease-in-out 0.1s;*/
}

.container.dragObjective{
    box-sizing: border-box;
    border: 3px solid;
    margin: -3px;
    border-color: orange;
    /*transition: all ease-in-out 0.1s;*/
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden{
    display: none;
}

.buttonContainer{   
    position: relative;
    width: 0;
    height: 0;
    right: 16vmin;
    bottom: 4.1vmin;
    
}

.reload{
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    padding: 0;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
}

.reloadImg{
    width: 100%
}

.noNumber{
    background-color: springgreen;
    font-size: 3vmin;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

.noNumber:hover{
    background-color: rgb(2, 190, 96);
    transition: all ease-in-out 0.25s;
}

.posibleOption
{
    background-color: #91ae8f;
    color: #6b816a;
    cursor: pointer;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    background-color: #9cce99;
    color: #83ad81;
}

@media (max-aspect-ratio: 1/1) {
    #GameParent{
        transform: scale(1.75,1.75);
    }

    .cell{
        line-height: 110%;
    }
}